<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$toptitle}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{$theme_path}/style/style.css" type="text/css" />
    <script type="text/javascript" src="{$theme_path}/style/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="{$theme_path}/style/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$theme_path}/style/js/gotoTop.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".backToTop").goToTop();
            $(window).bind('scroll resize',function(){
                $(".backToTop").goToTop({
                    pageWidth:960,
                    duration:0
                });
            });
        });
    </script>
</head>
<body>
{include file="head.html"}
<div class="weizhi-1">当前位置：<a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> > {$title}</div>
<div class="main1">
    <div class="left-3 fl">
        <div class="g-con">
            <h1 class="u-5">{$title}</h1>
            <div class="novel-meta">
                <p>书名：{$add_data.bookname}</p>
                <p>作者：{$add_data.author}</p>
                <p>更新时间：{$add_data.update_time}</p>
            </div>
            <div class="b-box11">
                {$body}
            </div>
        </div>
    </div>
    <div class="cl"></div>
</div>
{include file="footer.html" }
</body>
</html>
