<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>{$toptitle}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$theme_path}/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{$theme_path}/css/style.css">
</head>
<body>
{include file="head.html" }
<div class="container">
  <div class="col-md-8 col-sm-12">
    <ul class="breadcrumb">
      <li>位置:</li>
      <li><a href="/">{网站名称}</a></li>
      <li><a href="{当前栏目URL}">{当前栏目}</a></li>
      <li class="active">内容</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="col-md-8 col-sm-12">
    <div class="news-xq">
      <h4 class="text-center news_xwxq"><strong>{$title}</strong></h4>
      <div class="news_xwxq-fu"> <span>时间:{$postdate}</span> <span>来源：{随机关键词}</span> </div>
      <div class="news_xwxq-c"> 
        <p>{$body}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="zixun">
      <div class="recommend_xgtj clearfix">
        <h5 class="text-left">推荐资讯</h5>
       {loop type="arclist" row="6"  image=1}
          <div class="tj"> <img  src="{$vo.pic}" alt="{$vo.title}">
            <p>{$vo.title}</p>
          </div>
          {/loop}
      </div>
      <div class="recommend_xgtj">
        <h5 class="text-left">本周热点</h5>
        <ul class="recommend_xgtj_m">
           {loop type="arclist" row="6"  image=1}
            <li class=""><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
			{/loop}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container foot_db text-center">
   {include file="footer.html" }
</div>
<script src="{$theme_path}/js/jquery.min.js"></script>
<script type="text/javascript">
  //用于判断导航栏的状态
  var toggle = true;

  //导航栏按钮
  $('.btnImg').click(function() {
    if (toggle) {
      $('.btnImg').css("border", "1px solid #b0ccf3");
      toggle = false
    } else {
      $('.btnImg').css("border", "1px solid transparent");
      toggle = true;
    }
    $(".show").slideToggle(300);
  })

  //窗口大小发生改变
  $(window).resize(function() {
    //获取窗口宽度
    var windSize = $(window).width();

    if (windSize > 576) {
      $(".show").slideDown(0);
    } else {
      $(".show").slideUp(0);
    }
  });
</script>
</body>
</html>
