<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<!--[if lt IE 9]>
<script src="{$theme_path}/style/js/html5.js"></script>
<script src="{$theme_path}/style/js/css3-mediaqueries.js"></script>
<![endif]-->
<link rel="stylesheet" id="wp-block-library-css" href="{$theme_path}/style/css/style.min.css?ver=5.2.1" type="text/css" media="all" />
<link rel="stylesheet" id="contact-form-7-css" href="{$theme_path}/style/css/styles.css?ver=5.1.3" type="text/css" media="all" />
<link rel="stylesheet" id="wedocs-styles-css" href="{$theme_path}/style/css/frontend.css?ver=1.4.1" type="text/css" media="all" />
<link rel="stylesheet" id="math-captcha-frontend-css" href="{$theme_path}/style/css/frontend01.css?ver=5.2.1" type="text/css" media="all" />
<link rel="stylesheet" id="begin-style-css" href="{$theme_path}/style/css/style.css?ver=1.0" type="text/css" media="all" />
<link rel="stylesheet" id="fonts-css" href="{$theme_path}/style/css/fonts.css?ver=2017.07.25" type="text/css" media="all" />
<link rel="stylesheet" id="iconfontd-css" href="{$theme_path}/style/css/font_xajbiwt9gooe0zfr.css?ver=2017.07.25" type="text/css" media="all" />
<link rel="stylesheet" id="tablepress-default-css" href="{$theme_path}/style/css/default.min.css?ver=1.9.2" type="text/css" media="all" />
<link rel="stylesheet" id="wshop-css" href="{$theme_path}/style/css/wshop.css?ver=1.0.8" type="text/css" media="all" />
<link rel="stylesheet" id="uc.style-css" href="{$theme_path}/style/css/style01.css?ver=1.0.6" type="text/css" media="all" />
<link rel="stylesheet" id="uc.responsive-css" href="{$theme_path}/style/css/responsive.css?ver=1.0.6" type="text/css" media="all" />
<link rel="stylesheet" id="toastr-css" href="{$theme_path}/style/css/toastr.css?ver=1.0.6" type="text/css" media="all" />
<link rel="stylesheet" id="jquery-loading-css" href="{$theme_path}/style/css/jquery.loading.min.css?ver=1.0.6" type="text/css" media="all" />
<script type="text/javascript" src="{$theme_path}/style/js/jquery.min.js?ver=1.10.1"></script>
<script type="text/javascript" src="{$theme_path}/style/js/toastr.js?ver=1.0.6"></script>
<style>
.page-id-6212 .begin-single-meta {
	display: none;
}
.page-id-6212 .primary-box {
	border-right: none;
}
.page-id-6212 #page .page {
	border-bottom: none;
}
.page-id-6199 .begin-single-meta {
	display: none;
}
.page-id-6199 .primary-box {
	border-right: none;
}
.page-id-6199 #page .page {
	border-bottom: none;
}
.page-id-6253 .begin-single-meta {
	display: none;
}
.page-id-6253 .primary-box {
	border-right: none;
}
.page-id-6253 #page .page {
	border-bottom: none;
}
.logo-sites{height:50px;font-size:22px;padding-top:10px;}
.thumbnail{width:100%;max-height:100%;overflow:hidden;}
.thumbnail img{height:auto;max-height:100%;width:auto;min-width:100%;min-height:100%;}
</style>
</head>
<body data-rsssl="1" class="archive category category-functions category-963">
<div id="page" class="hfeed site">
   {include file="head.html"}
  <!-- #masthead -->
  <div id="search-main">
    <div class="clear"></div>
  </div>
  <nav class="breadcrumb"> <a class="crumbs" href="/"><i class="be be-home"></i>首页</a> <i class="be be-arrowright"></i> <a href="{当前栏目URL}">{当前栏目}</a> </nav>
  <div id="content" class="site-content">
    <section id="primary" class="content-area">
      <div class="primary-box">
        <main id="main" class="site-main" role="main"> 
		
		{loop type="arclist" row="10"  image=1 info=1}
		<article class="wow fadeInUp post type-post status-publish format-standard sticky hentry category-attention tag-wordpressphp wp" data-wow-delay="0.3s"> <figure class="thumbnail"> 
		<span class="load"><a href="{longshao_url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></span> 
		<span class="cat"><a href="{随机栏目URL}" rel="category tag">{随机栏目}</a></span> 
		</figure> 
		<header class="entry-header"> 
		<h2 class="entry-title"><a href="{$vo.url}" rel="bookmark">{$vo.title}</a></h2> 
		</header>
		<!-- .entry-header --> 
		<div class="entry-content"> 
		<div class="archive-content">
		 {$vo.info}... 
		</div> 
		<span class="top-icon"><i class="be be-top"></i></span> 
		<span class="entry-meta"> <span class="date">{$vo.postdate}</span></span> 
		<div class="clear"></div> 
		</div>
		<!-- .entry-content --> 
		<span class="entry-more"><a href="{$vo.url}" rel="bookmark"><i class="be be-more"></i></a></span> 
		</article>
		{/loop}	
          <!-- #post -->
        </main>
        <!-- .site-main -->
      </div>
      <div class="pagenav-clear">
        <nav class="navigation pagination" role="navigation">
          <h2 class="screen-reader-text">文章导航</h2>
          <div class="nav-links"> {loop type="typename" }<a href="{$vo.typeurl}" class="page-numbers">{$k+1}</a> {/loop} </div>
        </nav>
      </div>
    </section>
    <!-- .content-area -->
    <div id="sidebar" class="widget-area all-sidebar">
      <aside id="new_cat-4" class="widget new_cat wow fadeInUp" data-wow-delay="0.3s">
        <h3 class="widget-title">阅读排行</h3>
        <div class="clear"></div>
        <div class="new_cat">
          <ul>
             {loop type="arclist" row="8" image=1}
		 <li> <span class="thumbnail"> <span class="load"><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}" /></a></span> </span> <span class="new-title"><a href="{$vo.url}" rel="bookmark">{$vo.title}</a></span> <span class="date">{$vo.postdate}</span></li> 
		 {/loop}	
          </ul>
        </div>
        <div class="clear"></div>
      </aside>
    </div>
    <div class="clear"></div>
  </div>
  <!-- .site-content -->
  <div class="clear"></div>
{include file="footer.html" }
</div>
<!-- .site -->
<script type="text/javascript" src="{$theme_path}/style/js/scripts.js?ver=5.1.3"></script>
<script type="text/javascript" src="{$theme_path}/style/js/anchor.min.js?ver=1.4.1"></script>
<script type="text/javascript" src="{$theme_path}/style/js/frontend.js?ver=1.4.1"></script>
<script type="text/javascript" src="{$theme_path}/style/js/slides.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/sticky.js?ver=1.6.0"></script>
<script type="text/javascript" src="{$theme_path}/style/js/selectordie.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/jquery-ias.js?ver=2.2.1"></script>
<script type="text/javascript" src="{$theme_path}/style/js/jquery.lazyload.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/tipso.js?ver=1.0.1"></script>
<script type="text/javascript" src="{$theme_path}/style/js/script.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/flexisel.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/superfish.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/wshop.js?ver=1.0.8"></script>
<script type="text/javascript" src="{$theme_path}/style/js/jquery.blockUI.min.js?ver=2.70"></script>
<script type="text/javascript" src="{$theme_path}/style/js/jquery-loading.min.js?ver=1.0.6"></script>
<script type="text/javascript" src="{$theme_path}/style/js/wpzm.js?ver=2017.07.25"></script>
<script type="text/javascript" src="{$theme_path}/style/js/ajax-tab.js?ver=5.2.1"></script>
</body>
</html>
