@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(img/u-4n0qyriQwlOrhSvowK_l52xwNZWMf8.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(img/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
}
