<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link href="{$theme_path}/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{$theme_path}/css/main.css">
</head>
<body>
{include file="head.html" }
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 col-sm-12">
      <div class="page_main_t">今日热点</div>
      <div class="page_main">
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <ul class="page_items">
              {loop type="arclist" row="6" }
              <li> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </li>
             {/loop}
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <ul class="page_items">
              {loop type="arclist" row="6" }
              <li> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </li>
             {/loop}
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <ul class="page_items">
              {loop type="arclist" row="6" }
              <li> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </li>
             {/loop}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}</span></h5>
        <div class="home_itemsList">
          <dl>
		   {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop}            
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}</span></h5>
        <div class="home_itemsList">
          <dl>
             {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop} 
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}</span></h5>
        <div class="home_itemsList">
          <dl>
             {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop} 
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}/span></h5>
        <div class="home_itemsList">
          <dl>
             {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop} 
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}</span></h5>
        <div class="home_itemsList">
          <dl>
             {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop} 
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="home_itemsList_x">
        <h5><span>{随机栏目}</span></h5>
        <div class="home_itemsList">
          <dl>
             {loop type="arclist" row="8" }
           <dd> <a href="{$vo.url}" title="{$vo.title}" target="_blank">{$vo.title}</a> </dd>
           {/loop} 
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 col-sm-12">
      <ul class="page_links">
        <li class="">友情链接：</li>
         {loop type="link"}
		  <li class=""><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
		  {/loop}
      </ul>
    </div>
  </div>
</div>
<footer class="container page_foot">
  {include file="footer.html" }
</footer>
<script src="{$theme_path}/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{$theme_path}/js/nav.min.js"></script>
<script type="text/javascript">
		$(function() {
			$('.page_nav_nav').pgwMenu({
				mainClassName: 'page_nav_nav',
				dropDownLabel: '导航',
				viewMoreLabel: '更多<span class="icon"></span>'
			});
		});
	</script>
</body>
</html>
