@charset "utf-8";
body{font-family: "Microsoft Yahei UI","Microsoft Yahei","Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","Hiragino Sans GB","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.xh-pull-left{float: left;}
.xh-pull-right{float: right;}
.mT20{margin-top:20px; }
table { border-collapse: collapse; border-spacing: 0; }
/*????????????*/
.xh-mTl20{margin-left: 20px;}
.xh-membercenter{width:1280px;margin:40px auto;max-width: 100%;/*border-radius: 4px;background: #fff;-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);*/}
.xh-membercenter .xh-user-left{width: 17%;
    border: 1px solid #f3f3f3; min-height: 500px;
    background:#fff;
    float: left;}
.xh-form input[type="radio"]{-webkit-appearance: radio;}
.xh-membercenter .xh-user-right{width: 82%;float: right;min-height: 500px;border: 1px solid #f3f3f3;
      background:#fff;}
    .xh-membercenter .xh-user-right .conbox{padding:3%  4%;}

.xh-membercenter .xh-user-right p{margin-top: 15px;font-size: 15px;color: #666;}
.xh-membercenter .xh-user-right a.black{color: #666;}
.xh-membercenter .usertitle{position: relative;
    text-align: center;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
   }
  .xh-membercenter .xh-user-right .sr{padding: 15px;border:1px dashed #ddd;margin-bottom:15px;    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;border-radius: 4px;font-size: 13px;}
.xh-membercenter .usertitle span { display: block;}

.xh-membercenter .usertitle span a.status,.xhmem-status {
     background: #f70f00;
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
    font-size: 9px;
    text-decoration: none;
    line-height: 18px;
  }
.xh-membercenter .usertitle span a.status.normal,.xhmem-status.normal{background: #ccc;}

.xh-membercenter .usertitle .xh-avatar {
    margin-bottom: 5px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
	float: none;
}
.xh-membercenter  .menutop{display:block;padding:13px 40px;font-size:15px;color:#444;font-weight: 600;border-bottom:1px solid #eee;margin:0;}
.xh-membercenter .usermenu{list-style:none;border-bottom: 1px solid #eee;margin:0;padding:0;}
.xh-membercenter .usermenu li{}
.xh-membercenter .usermenu li a{display:block;padding:10px 20px;font-size:16px;color:#888;text-align: center;text-decoration: none;border-bottom: 1px solid #f1f1f1;font-size: 15px;}
.xh-membercenter .usermenu li a img{visibility: middle;display: none;}
.xh-membercenter .usermenu li a:hover,.xh-membercenter .usermenu li a.active{color:#333;border-right:3px solid #ddd;font-weight: 600;}
.xh-membercenter .usermenu li:last-child a{border-bottom:none}
.xh-membercenter .usermenu li .icon{font-size:18px}
.xh-membercenter .usermenu h4{margin:0}
.xh-membercenter .usermenu h4 a{color:#666;background-color:#F7F9FA;padding-top:15px;cursor:default;border-bottom-color:#e6e6e6}
.xh-membercenter .setting_header{height:45px;background:#fff;border-bottom:1px solid #f1f1f1;line-height: 45px;font-weight: 400;font-size: 120%; margin-bottom: 20px;}
.xh-membercenter .xh-tabs{height: 30px;line-height: 30px;border-bottom: 1px solid #eee;}
.xh-membercenter .xh-tabs .sh1{padding: 0 20px;float: left;margin-right: 10px;cursor: pointer;border-top-left-radius:4px;
border-top-right-radius:4px;font-size: 14px;}
.xh-membercenter .xh-tabs .sh1.active{background: #eee;}
 .xh-membercenter .header_tips {
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    color: #6699cc;
    line-height: 50px;
    padding-left: 30px;
}

.xh-membercenter .xh-user-right .conbox .txbox{margin-top:20px;margin-bottom: 20px;}
.xh-membercenter .xh-user-right .conbox .txbox .tx{width: 120px;float: left;border-radius: 4px;}
.xh-membercenter .xh-user-right .conbox .txbox .profile{margin-left: 140px;}
.xh-membercenter .xh-user-right .conbox .txbox .profile p{margin-top: 5px;margin-bottom: 5px;}
.xh-btn {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
	text-align:center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a.xh-btn:hover{text-decoration: none;}

.xh-btn-block {
    display: block;
    width: 100%;
}
.xh-btn-lg {
    padding: 10px 26px;
    font-size: 22px;
    line-height: 1.33;
    border-radius: 3px;
}
.xh-btn-sm {
    padding: 4px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 3px;
}
.xh-btn-xs {
    padding: 4px 14px;
    font-size: 12px;
    line-height: 1.13;
    border-radius: 3px;
}
.xh-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.xh-btn-warning {
   color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.xh-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.xh-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.xh-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.xh-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.xh-btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.xh-btn:hover,.xh-btn:focus {
	background:;
	text-decoration: none;
}

.xh-btn:active,.xh-btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.xh-btn.disabled,.xh-btn[disabled],fieldset[disabled] .xh-btn {
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
	cursor: not-allowed;
	pointer-events: none;
	filter: alpha(opacity=65);
}

.xh-btn-default:hover,.xh-btn-default:focus,.xh-btn-default:active,.xh-btn-default.active,.open .dropdown-toggle.xh-btn-default {
	border-color: #adadad;
	background-color: #ebebeb;
	color: #333;
}

.xh-btn-primary:hover,.xh-btn-primary:focus,.xh-btn-primary:active,.xh-btn-primary.active,.open .dropdown-toggle.xh-btn-primary {
	border-color: #285e8e;
	background-color: #3276b1;
	color: #fff;
}

.xh-btn-warning:hover,.xh-btn-warning:focus,.xh-btn-warning:active,.xh-btn-warning.active,.open .dropdown-toggle.xh-btn-warning {
	border-color: #d58512;
	background-color: #ed9c28;
	color: #fff;
}

.xh-btn-danger:hover,.xh-btn-danger:focus,.xh-btn-danger:active,.xh-btn-danger.active,.open .dropdown-toggle.xh-btn-danger {
	border-color: #ac2925;
	background-color: #d2322d;
	color: #fff;
}

.xh-btn-success:hover,.xh-btn-success:focus,.xh-btn-success:active,.xh-btn-success.active,.open .dropdown-toggle.xh-btn-success {
	border-color: #398439;
	background-color: #47a447;
	color: #fff;
}

.xh-btn-info:hover,.xh-btn-info:focus,.xh-btn-info:active,.xh-btn-info.active,.open .dropdown-toggle.xh-btn-info {
	border-color: #269abc;
	background-color: #39b3d7;
	color: #fff;
}
/*form style*/
.xh-form *:before {
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
}
.xh-form input,.xh-form select,.xh-form textarea
{
    color:inherit;
    font:inherit;
    margin:0
}
.xh-form input[disabled]
{
    cursor:default;
	background-color:#f5f5f5;
}
.xh-form button[disabled]
{
    cursor:default;
}
.xh-form button::-moz-focus-inner,.xh-form input::-moz-focus-inner
{
    border:0;
    padding:0
}

.xh-form input
{
    line-height:normal
}

.xh-form input[type="checkbox"],.xh-form input[type="radio"]
{
    box-sizing:border-box;
    padding:0
}

.xh-form input[type="number"]::-webkit-inner-spin-button,.xh-form input[type="number"]::-webkit-outer-spin-button
{
    height:auto
}

.xh-form input[type="search"]
{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}

.xh-form input[type="search"]::-webkit-search-cancel-button,.xh-form input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance:none
}

.xh-form textarea
{
    overflow:auto
}

.xh-form{

    background: #fff;
    padding: 30px;
    font-family:  "Microsoft Yahei UI","Microsoft Yahei","Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","Hiragino Sans GB","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
    font-size: 0.875em;
    color: #555;
    font-weight: 300;

}

.xh-form .xh-title{ font-size: 140%;
    line-height: 20px;
    height: 22px;
    padding-left: 15px;
    border-left: 3px solid #eb6a6a;
    }

.xh-form .xh-form-group {
    margin-bottom: 15px;
    position: relative;
}
.xh-form .xh-form{margin-top: 20px;}
.xh-form .required:after {
    content: "*";
    color: #ed1c24;
}
.xh-form a:active,.xh-form a:hover
{    outline:0;

}
.xh-form hr
{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    clear:both;
    margin:5px auto;
    border:0;
    border-bottom:1px solid #eee;
    height: 1px;
}
.xh-form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;

}
.xh-form .xh-block,.xh-block{display: block;width: 100%;margin-bottom: 10px;}
.xh-form .form-left {

    margin-bottom: 20px;

    float: left;
    width: 100px;
    text-align: right;
    line-height: 30px;
}
.xh-form .form-right {
    margin-bottom: 20px;
    font-weight: 300;
    float: left;
    margin-left: 20px;
    width: 350px;
    max-width: 100%;
}
.xh-form .form-control{
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-weight: 300;
    box-shadow: inset 0 1px 1px rgba(77,95,134,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.xh-form textarea.form-control{height: auto;}

.xh-input-group {
    position: relative;
    display: table;
    border-collapse: separate;

}

.xh-input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    z-index: 1;
    display: table-cell;

}
.xh-input-group-btn, .xh-input-group-btn>.xh-btn {
    position: relative;
    height: 35px;
}
.xh-input-group-btn {

    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;

}
.xh-input-group-btn:last-child>.xh-btn, .xh-input-group-btn:last-child>.btn-group {
    margin-left: -1px;
    box-shadow: none;
    position: relative;
}

.xh-input-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
 .xh-input-group-btn:first-child>.btn-group:not(:first-child)>.xh-btn, .xh-input-group-btn:first-child>.xh-btn:not(:first-child), .xh-input-group-btn:last-child>.xh-btn, .xh-input-group-btn:last-child>.btn-group>.xh-btn, .xh-input-group-btn:last-child>.dropdown-toggle, .xh-input-group .form-control:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.xh-input-group-btn>.xh-btn:active, .xh-input-group-btn>.xh-btn:focus, .xh-input-group-btn>.xh-btn:hover {
    z-index: 100;
}
/*????????????*/
.xh-favorite{height: 35px;line-height: 35px;border-bottom: 1px solid #eee;padding-left: 15px;padding-right: 15px;}
.xh-favorite.bggray{background: #f8f8f8;}
.xh-favorite .xh-sc{float: right;width:80px;}

/*bootstrap table*/

table {
  background-color: transparent;

}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #f3f3f3;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #f3f3f3;
  color: #444;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #f3f3f3;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #f3f3f3;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #f3f3f3;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f9f9f9;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
.usertitle,.menutop{display: none;}
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #f3f3f3;
  }
  .usertitle{display: none;}
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
  .xh-membercenter  .menutop{padding-left:6px;}
}

/*??????*/
.xh-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.xh-pagination > li {
  display: inline;
}
.xh-pagination > li > a,
.xh-pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  color: #fff;
}
.xh-pagination > li:first-child > a,
.xh-pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.xh-pagination > li:last-child > a,
.xh-pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.xh-pagination > li > a:hover,
.xh-pagination > li > span:hover,
.xh-pagination > li > a:focus,
.xh-pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.xh-pagination > .active > a,
.xh-pagination > .active > span,
.xh-pagination > .active > a:hover,
.xh-pagination > .active > span:hover,
.xh-pagination > .active > a:focus,
.xh-pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.xh-pagination > .disabled > span,
.xh-pagination > .disabled > span:hover,
.xh-pagination > .disabled > span:focus,
.xh-pagination > .disabled > a,
.xh-pagination > .disabled > a:hover,
.xh-pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.xh-pagination-lg > li > a,
.xh-pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.xh-pagination-lg > li:first-child > a,
.xh-pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.xh-pagination-lg > li:last-child > a,
.xh-pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.xh-pagination-sm > li > a,
.xh-pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.xh-pagination-sm > li:first-child > a,
.xh-pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.xh-pagination-sm > li:last-child > a,
.xh-pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
xh-table{border:0;width: 100%;border-collapse:collapse;}
.xh-table th,.xh-table td{padding: 8px 10px;border-right:0;border-bottom: 1px solid #eee;text-align: left;}
