<div class="header">
    <div class="wrap">
        <div class="logo"><a href="{$web_url}">{$web_name}</a></div>
        <div class="search">
            <form action="/s" onsubmit="if(q.value==''){alert('提示：请输入小说名称或作者名字！');return false;}">
                <input type="search" class="text" name="q" placeholder="快速搜索、找书、找作者" value="" />
                <input type="submit" class="btn" value="">
            </form>
        </div>
        <div class="share"><a href="/bookcase.html">阅读记录</a></div>
    </div>
    <div class="nav">
        <ul>
            <li class="this"><a href="/">首页</a></li>
            <li><a href="/xuanhuan/">玄幻</a></li>
            <li><a href="/wuxia/">武侠</a></li>
            <li><a href="/dushi/">都市</a></li>
            <li><a href="/lishi/">历史</a></li>
            <li><a href="/wangyou/">网游</a></li>
            <li><a href="/kehuan/">科幻</a></li>
            <li><a href="/mm/">女生</a></li>
            <li><a href="/finish/">完本</a></li>
            <li><a href="/top/">排行榜</a></li>
        </ul>
    </div>
</div>
