<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Manta</title>
	<atom:link href="https://demo.premiumwp.com/manta/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://demo.premiumwp.com/manta</link>
	<description>WordPress Theme</description>
	<lastBuildDate>Wed, 08 Nov 2017 23:20:54 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.10</generator>
	<item>
		<title>Comment on iPhone X Review: Is this Design Really the Future? by Brad</title>
		<link>https://demo.premiumwp.com/manta/iphone-7-review-is-it-really-the-best-iphone-ever/#comment-201</link>
		<dc:creator><![CDATA[Brad]]></dc:creator>
		<pubDate>Wed, 08 Nov 2017 23:20:54 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1838#comment-201</guid>
		<description><![CDATA[The iPhone X is a total design disaster. That notch! What a fail.]]></description>
		<content:encoded><![CDATA[<p>The iPhone X is a total design disaster. That notch! What a fail.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Amazing Street Art in New York by Sarah</title>
		<link>https://demo.premiumwp.com/manta/amazing-street-art-in-new-york/#comment-200</link>
		<dc:creator><![CDATA[Sarah]]></dc:creator>
		<pubDate>Wed, 08 Nov 2017 23:19:54 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1821#comment-200</guid>
		<description><![CDATA[New York is the best city in the world]]></description>
		<content:encoded><![CDATA[<p>New York is the best city in the world</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on How to Live Healthier and Longer by Ava</title>
		<link>https://demo.premiumwp.com/manta/how-to-live-healthier-and-longer/#comment-199</link>
		<dc:creator><![CDATA[Ava]]></dc:creator>
		<pubDate>Wed, 08 Nov 2017 23:19:18 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1725#comment-199</guid>
		<description><![CDATA[Eat well. Live well. What you eat is so important.]]></description>
		<content:encoded><![CDATA[<p>Eat well. Live well. What you eat is so important.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Drink coffee everyday? This new research will shock you by Lucy</title>
		<link>https://demo.premiumwp.com/manta/if-you-drink-coffee-everyday-you-have-to-read-this/#comment-198</link>
		<dc:creator><![CDATA[Lucy]]></dc:creator>
		<pubDate>Wed, 08 Nov 2017 23:18:26 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1741#comment-198</guid>
		<description><![CDATA[I love my coffee every morning.]]></description>
		<content:encoded><![CDATA[<p>I love my coffee every morning.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on 10 Little Known Secrets about the Volkswagen Beetle by Van</title>
		<link>https://demo.premiumwp.com/manta/10-little-known-secrets-about-the-volkswagen-beetle/#comment-197</link>
		<dc:creator><![CDATA[Van]]></dc:creator>
		<pubDate>Wed, 08 Nov 2017 23:17:28 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1814#comment-197</guid>
		<description><![CDATA[This is one of the best cars ever built! Love the beetle.]]></description>
		<content:encoded><![CDATA[<p>This is one of the best cars ever built! Love the beetle.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on The Hottest Swimwear for this Summer by John Doe</title>
		<link>https://demo.premiumwp.com/manta/the-hottest-swimwear-for-this-summer/#comment-72</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Fri, 23 Jun 2017 03:00:58 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1835#comment-72</guid>
		<description><![CDATA[This is an excellent post. Thanks for sharing this valuable information.]]></description>
		<content:encoded><![CDATA[<p>This is an excellent post. Thanks for sharing this valuable information.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on How to Design the Ideal Home Office by A WordPress Commenter</title>
		<link>https://demo.premiumwp.com/manta/hello-world/#comment-1</link>
		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Sun, 16 Apr 2017 08:48:03 +0000</pubDate>
		<guid isPermaLink="false">http://demo.premiumwp.com/manta/?p=1#comment-1</guid>
		<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Edge Case: No Content by John Doe</title>
		<link>https://demo.premiumwp.com/manta/edge-case-no-content/#comment-30</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 19:35:07 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/this-post-has-no-body/#comment-30</guid>
		<description><![CDATA[Having no content in the post should have no adverse effects on the layout or functionality.]]></description>
		<content:encoded><![CDATA[<p>Having no content in the post should have no adverse effects on the layout or functionality.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Protected: Template: Password Protected (the password is &#8220;enter&#8221;) by Jane Doe</title>
		<link>https://demo.premiumwp.com/manta/template-password-protected/#comment-29</link>
		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 18:56:08 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/test-with-secret-password/#comment-29</guid>
		<description>Protected Comments: Please enter your password to view comments.</description>
		<content:encoded><![CDATA[<form action="https://demo.premiumwp.com/manta/wp-login.php?action=postpass" class="post-password-form" method="post">
	<p>This content is password protected. To view it please enter your password below:</p>
	<p><label for="pwbox-1168">Password: <input name="post_password" id="pwbox-1168" type="password" size="20" /></label> <input type="submit" name="Submit" value="Enter" /></p></form>
	]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Jane Doe</title>
		<link>https://demo.premiumwp.com/manta/template-comments/#comment-23</link>
		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 18:30:33 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-23</guid>
		<description><![CDATA[Thanks for all the comments, everyone!]]></description>
		<content:encoded><![CDATA[<p>Thanks for all the comments, everyone!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
