<header>
  <div class="toubu_head">
    <div class="container"> <span class="toubu_h">{网站名称}</span>
      <div class="toubu_head_r text-right"> <span class="toubu_head_r0"><a href="#">注册</a></span> <span class="toubu_head_r0">|</span> <span class="toubu_head_r0"><a href="#">登录</a></span> </div>
    </div>
  </div>
  <div class="toubu_head_bz container"> <a href="/" title="{网站名称}"> <img class="toubu_head_p" src="{$theme_path}/img/biaozhi_logo.png" alt="{网站名称}"/> </a> </div>
  <div class="daohang_dh container">
    <div class="navFlex">
      <div class="flexItem hiden"> <img class="btnImg" src="{$theme_path}/img/dh-i.png"  alt="{网站名称}"/> </div>
      <div class="flexItem show">
        <ul>
          <li class="curr"><a href="/">首页</a></li>
          {loop type="typename" type1="top" row="10"}
          <li><a href="{$vo.typeurl}" target="_self">{$vo.typename}</a></li>
		{/loop}
        </ul>
      </div>
    </div>
  </div>
</header>