<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link href="{$theme_path}/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{$theme_path}/css/com.css">
</head>
<body>
{include file="head.html" }
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 col-sm-12">
      <div class="carousel slide" id="carousel-12">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-12"> </li>
          <li data-slide-to="1" data-target="#carousel-12"> </li>
          <li data-slide-to="2" data-target="#carousel-12"> </li>
        </ol>
        <div class="carousel-inner">
		 {loop type="arclist" row="3"  image=1}
          <div class="item  {if $vo.i==1} active{else} {/if}"> <a href="{$vo.url}" title="{$vo.title}" target="_blank"> <img alt="{$vo.title}" src="{$vo.pic}" />
            <div class="carousel-caption">
              <h4>{$vo.title}</h4>
            </div>
            </a> </div>
			{/loop}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <ul class="index_xwlb_items">
          {loop type="arclist" row="6" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <ul class="xinwenliebiao xinwenliebiao-list">
	  
	   {loop type="arclist" row="2" image=1 }
        <li class="item">
          <div class="item-con">
            <div class="pic"> <a href="{$vo.url}" target="_blank" class="avatar"> <img src="{$vo.pic}" alt="{$vo.title}"> </a> </div>
            <div class="text">
              <h5 class="tit"><a href="{$vo.url}" target="_blank">{$vo.title}</a></h5>
              <div class="info">
                <div class="c2"> <span class="date">{$vo.postdate}</span> </div>
              </div>
            </div>
          </div>
        </li>
		 {/loop}
      </ul>
    </div>
  </div>
</div>
<div class="container lr">
  <div class="row clearfix">
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
          {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
         {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
         {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
         {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
         {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 itemslist_xwlb">
      <h4>{随机栏目}</h4>
      <ul class="itemslist_xwlb_items">
         {loop type="arclist" row="8" }
          <li><a href="{$vo.url}" title="{$vo.title}">{$vo.title}</a></li>
		 {/loop}
      </ul>
    </div>
  </div>
</div>
<div class="container about_gywm">
  <div class="clearfix">
    <h4 class="col-md-12 h4"><strong class="gu">友情链接</strong></h4>
    <ul class="links_yqlj">
      {loop type="link"}
	<li class=""><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
	{/loop}
    </ul>
  </div>
</div>
<footer class="container foot_db text-center">
  {include file="footer.html" }
</footer>
<script src="{$theme_path}/js/jquery.min.js"></script>
<script src="{$theme_path}/js/bootstrap.min.js"></script>
<script type="text/javascript">
		//用于判断导航栏的状态
		var toggle = true;

		//导航栏按钮
		$('.btnImg').click(function() {
			if (toggle) {
				$('.btnImg').css("border", "1px solid #b0ccf3");
				toggle = false
			} else {
				$('.btnImg').css("border", "1px solid transparent");
				toggle = true;
			}
			$(".show").slideToggle(300);
		})

		//窗口大小发生改变
		$(window).resize(function() {
			//获取窗口宽度
			var windSize = $(window).width();

			if (windSize > 576) {
				$(".show").slideDown(0);
			} else {
				$(".show").slideUp(0);
			}
		});
	</script>
<script>
		$(document).ready(function(){
			$('#carousel-12').carousel({interval:3000});  //每隔5秒自动轮播
		});
	</script>
</body>
</html>
