<div class="new-header">
  <div class="header-main">
    <div class="mrhua-logo"> <a href="/"><img src="{$theme_path}/style/img/mr_03.gif" alt="{网站名称}" id="" /></a> </div>
    <div class="menu">
      <ul>
        <li class="page_item page-item-1458"><a href="/">首页</a></li>
		 {loop type="typename" row="6"}
		<li class="page_item page-item-192"><a href="{$vo.typeurl}">{$vo.typename}</a></li>
		{/loop}
      </ul>
    </div>
  </div>
</div>
<div id="banner">
  <div class="banner-main">
    <div id="branding"> 一个有趣、轻松、好玩的Blog </div>
  </div>
</div>