html{overflow-x: hidden;}
a{cursor:pointer;}
ul{padding-inline-start: 0;list-style-type: none;-webkit-padding-start: 0;padding: 0;margin: 0;}
.logo{padding:5px 10px;width: 100%;}
.logo img{width:158px;}
.page_nav {border-bottom:2px solid #85b716; height: 42px;width: 100%}
.page_nav_nav {width: 61%;margin:0 auto;border-bottom:1px solid #85b716; height: 42px; position: relative; list-style: none;}
.page_nav_nav ul { list-style: none; white-space: nowrap; margin: 0; padding: 0;}
.page_nav_nav li { float: left;}
.page_nav_nav li a:hover{ background: #85b716; text-decoration: none;color: #fff}
.page_nav_nav a{ display: block;line-height: 42px; padding: 0 20px; text-decoration: none;font-weight: 600;}
.page_nav_nav a.selected { background: #85b716;color: #fff;}
.page_nav_nav .pm-links.mobile,
.page_nav_nav .pm-viewMore > ul { background: #85b716; box-shadow: 2px 2px 4px #85b716; position: absolute; right: 0; top: 100%; z-index: 1000;}
.page_nav_nav .pm-viewMore { display: none; position: relative;}
.page_nav_nav .pm-viewMore > a { display: inline-block;}
.page_nav_nav .pm-viewMore > ul { left: auto; right: 0;}
.page_nav_nav .pm-viewMore li { float: none;}
.page_nav_nav .pm-viewMore span.icon,
.page_nav_nav .pm-viewMore span.white { border-color: #fff transparent; border-style: solid; border-width: 8px 6px 0; margin-left: 3px; display: inline-block;}
.page_nav_nav .pm-viewMore span.black { border-color: #000 transparent; border-style: solid; border-width: 8px 6px 0; margin-left: 3px; display: inline-block;}
.page_nav_nav .pm-links.mobile li,
.page_nav_nav .pm-viewMore > ul > li { display: block; clear: both; width: 140px;}
.page_nav_nav .pm-dropDown,
.page_nav_nav .pm-viewMore,
.page_nav_nav .pm-viewMore > ul { display: none;}
.page_nav_nav .pm-dropDown a {background: #85b716;color: #fff;}
.page_nav_nav .pm-dropDown a.active,
.page_nav_nav .pm-viewMore a.active { background: #85b716;color: #fff;}
.page_nav_nav .pm-dropDown span.icon,
.page_nav_nav .pm-dropDown span.white {display: block;height: 22px;width: 22px;margin: 9px 5px;}
.page_nav_nav .pm-dropDown span.black {display: block;height: 22px;width: 22px;margin: 9px 5px;}
.page_main{width: 100%;border: 1px solid #e4e4e4;display: inline-block;}
.page_items{padding:0 8px 8px 8px;}
.page_items>li{line-height: 32px;white-space: nowrap;overflow: hidden;padding-left:15px; background:url(../img/icons.png) no-repeat scroll 1px 10px;}
.page_main_t{font-size:16px;background:#f8f8f8;border: 1px solid #f8f8f8;margin-top: 10px;width: 100%;padding: 10px;font-weight: bold;}
.home_itemsList_x{background: #f8f8f8;border: 1px solid #e4e4e4;margin-top: 5px;margin-bottom: 5px;}
.home_itemsList_x h5 {text-align:left;font-weight:bold;padding: 10px;margin: 0;}
.home_itemsList{padding: 10px;margin-bottom: 0;position: relative;}
.home_itemsList dl{margin-bottom: 0!important;}
.home_itemsList dd{padding-bottom:10px;position:relative;}
.home_itemsList dd:last-child{padding-bottom:0;}
.home_itemsList dd a{display:inline-block;overflow:hidden;width:100%;color:#333;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap}
.home_itemsList dd a:hover {color:#333;text-decoration: none;}
.page_foot{border-top:1px solid #e4e4e4;padding:20px 0 10px 0;margin-top: 10px;}
.page_foot p{text-align: center;font-size: 12px;}
.page_links{}
.page_links{margin-bottom: 0;border: 1px solid #e4e4e4;margin-top: 5px;}
.page_links li:first-child{font-weight: 600;color: #333;}
.page_links li{display: inline-block;padding: 10px 0 10px 10px;}
.page_links li a{}
.page_news{border: 1px solid #e4e4e4;padding: 10px 0;}
.page_news>li{position:relative;font-size:14px;line-height: 38px;white-space: nowrap;margin-right:10px;overflow: hidden;padding-left:15px;margin-left: 10px;}
.page_news>li:before{content: '.';position: absolute;top: -12px;left: 0px;font-size: 40px;color: #e4e4e4}
.page_news>li a:hover{text-decoration: none;}
.page_news_tit{overflow: hidden;}
.page_news li span{position: absolute;color: #999;right: 0;top: 0;font-size: 13px;}
.page_side h5 {text-align:left;border-bottom:1px solid #e4e4e4;font-weight:bold;padding: 27px 10px 10px 15px;margin: 0;font-size: 16px;}
.page_side-c{padding-top: 5px;padding-left: 10px;padding-right: 10px;}
.page_side-c li{overflow: hidden;white-space: nowrap;line-height: 30px;}
.page_side-c li a{overflow: hidden;white-space: nowrap;line-height: 30px;}
.page_side-c li a:hover{text-decoration: none;}
.nav-map{margin-top: 5px;}
.breadcrumb span{color: #A1A1A1;}
.breadcrumb a{color:#A1A1A1;}
.page_details{padding: 10px 20px;border: solid 1px #f2f2f2;margin-top: 10px;}
.page_details h2{font-size: 21px;font-weight: 600;line-height: 46px;text-align: center;}
.page_details_ls{color:#999;text-align:center;margin:10px 40px 20px 40px;overflow:hidden;padding:5px 10px;border-bottom:1px dotted #e4e4e4;font-size: 12px;}
.page_details_ls a,.page_details_ls span{margin-right:15px}
.page_details_ls a{color:#999}
.page_details_ls a:hover{color:#ff0000}
.page_details_ls-c {line-height: 22px;text-indent: 2em;}
.page_details_ls-c img{max-width: 100%;margin: 0 auto;vertical-align: middle;display: block;}
.breadcrumb>.active{color:#A1A1A1;}
.more{margin-top: 20px;margin-bottom: 30px;}
.more a{color: #999;cursor:auto;}
.more a:hover{text-decoration: none;}
.page_details_ls-m{padding: 10px;border: dotted 1px #e4e4e4;margin-top: 10px;margin-bottom: 10px;}
.page_details_ls-m li{line-height: 23px;padding-left: 10px;}
.pageList{margin-top: 10px;border: 1px solid #e4e4e4;}
@media (min-width:1200px){.container{width:1160px}}
@media (max-width: 992px){
}
@media (max-width:767px){
	.page_nav_nav a{color: #fff;}
	.page_news li span{display: none}
	header{position: relative}
	.page_nav_nav {width: 30%;margin:0 auto;border-bottom:1px solid #85b716;height: 42px;position: absolute;top: 15px;right: 0;}
	.page_nav_nav .pm-links.mobile li, .page_nav_nav .pm-viewMore > ul > li{width: 96px;}
	.page_nav{height: 5px;}

}

